body{
    background-color: #FAFAFA;
    font-family: Georgia;
}
h1{
    font-size: 35px;
    color: white;
    border: 5px dashed;
    border-radius: 60px;
    background-color: #78606D;
    margin: 0.5rem 1rem 1rem 0;
    padding: 0.5em;
    outline: 5px solid violet;
    outline-offset: 2px;
    line-height: 1.5;
   text-transform: capitalize;
}
h2{ font-size:30x;
    color: #1A1A1A;
    line-height: 1.5;
   text-transform: capitalize;
   font-family: Sans-Serif;
}
h3{ font-size:25px;
font-style: NONE;
    color: #708090;
    line-height: 1.5;
   font-family: Sans-Serif;
}
h4{ font-size:20px;
    color: #708090;
    line-height: 1.5;
   text-transform: capitalize;
   font-family: Sans-Serif;
}
p{font-size: 15px;
 color: darkgrey;   
}
button{
    background-color: papayawhip;
    font-size: 20px;
    color: blue;
}
button:hover,button:focus{
    opacity: 0.8;
    color: dodgerblue;
    
}
a{cursor: pointer;
color: blue;
font-size: 20px;
    
}
a:visited{
    color: green;
}
a:hover,a:focus{
    opacity: 0.8;
    color: #E500FF;
    
}
li{
    list-style-type: square;
    list-style-position: outside;
}
li::marker{
    color: #708090;
    font-size:1.5em;
}