*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-size: 20px;
  font-family: arial,Sans-Serif,Comic Sans MS;
  line-height: 1.6;

}
header {
    background: transparent; /* Remove the solid bar */
    position: absolute;      /* Let the image go behind it */
    width: 100%;
    top: 0;
    z-index: 10;
}
header .logo {
    color: #ffffff; 
    text-shadow: 0 0 10px rgba(0, 0, 0, 1), 0 0 20px rgba(0, 242, 255, 0.5);
    display: flex;
    
}
header span{
  color: #00f2ff;
}
/**Styling navigation**/
.style{
  background-color: #326D7A;
  padding: 12px;
  word-spacing: 25px;
  
}
.style ul{
  list-style-type: none;
}
.style li{
  display: inline-block;
}
.style a{
  color: #fafafa;
  text-decoration: none;
  
}
.style a:hover,a:focus{
  opacity: 0.8;
  color: dodgerblue;
}
.style a:visited{
  color: purple;
  text-decoration: underline;
}
main .hero{
  
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
                      url('https://images.unsplash.com/photo-1550745165-9bc0b252726f?auto=format&fit=crop&w=1350&q=80');
    background-size: cover;
    background-position: center;
    height: 100vh; 

    
    display: flex;
    flex-direction: column;   
    justify-content: center;  
    align-items: center;      
    text-align: center;       
    color: white;             
}
.hero h2{
  word-spacing: 4px;
}
.hero .btn{
    
    display: inline-block;
    background: transparent;
    border: 2px solid #0ff2ff; 
    color: #0ff2ff;           
    padding: 12px 35px;     
    margin-top: 20px;
    text-decoration: none;
    text-transform: uppercase;
    box-shadow: 0 0 15px rgba(0, 242, 255 , 0.4);
    letter-spacing: 2px;
    transition: 0.3s;          
}

.btn:hover {
    background: #00f2ff;       
    color: #000000;
    box-shadow:0 0 30px #002ff ;
}