*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-size: 20px;
  font-family: Arial;
}
section .logo{
  padding: 10px;
  background-color: #2c3e50;
}
.logo span{
  color: gold;
}
.logo h1{
  color: white;
}
.navbar{
  background-color: #505150;
  display: flex;
  padding: 13px;
}
.navbar ul{
  list-style-type: none;
}
.navbar li{
  display: inline-block;
}
.navbar a{
  color: white; 
  text-decoration: none;
   padding: 12px;
}
.navbar a:hover , a:focus{
  opacity: 0.8;
  color: dodgerblue;
}
main .hero{
    /* Background settings from previous step */
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
                      url('https://images.unsplash.com/photo-1477959858617-67f85cf4f1df?auto=format&fit=crop&w=1350&q=80');
    background-size: cover;
    background-position: center;
    height: 60vh; /* Give it height so there is space to center */

    /* Centering logic */
    display: flex;
    flex-direction: column;   
    justify-content: center;  
    align-items: center;      
    text-align: center;       
    color: white;             
}
.hero h2{
  letter-spacing: 4px;
}
.hero .btn{
    
    display: inline-block;
    margin-top: 40px;      
    
  
    background: transparent;
    border: 1px solid #d4af37; 
    color: #d4af37;           
    padding: 12px 45px;        
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.5s;          
}

.btn:hover {
    background: #d4af37;       
    color: black;             
}

}